<!-- Footer Section -->
<app-footer></app-footer>
<!-- <app-login></app-login> -->
<!-- <router-outlet></router-outlet>
<div class="container-fluid">
<app-footer-bottom></app-footer-bottom>
</div> -->
<!-- <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Forgot Your password?</h5>
    <form>
      <div class="form-group">
        <p class="msg">Enter your email id for verfication process, we will send 4-digits code to your mail id.</p>
        <label for="exampleInputEmail1 sr-only">E-Mail</label>
        <input type="email" class="form-control form-control-sm" placeholder="Enter your email address">
      </div>
      <a href="#"> < Back to login </a>
      <div>
      <button type="submit" class="btn btn-primary btn-block">Continue</button>
    </div>
    </form>
    
  </div>
</div> -->
 
    <!-- <div class="card p-2 text-center"> 
      <h6>Please enter the one time password <br> to verify your account</h6> 
      <div> <span>A code has been sent to</span> <small>*******9897</small> </div> 
      <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"> 
        <input class="m-2 text-center form-control rounded" type="text" id="first" maxlength="1" /> 
        <input class="m-2 text-center form-control rounded" type="text" id="second" maxlength="1" /> 
        <input class="m-2 text-center form-control rounded" type="text" id="third" maxlength="1" /> 
        <input class="m-2 text-center form-control rounded" type="text" id="fourth" maxlength="1" /> 
        <input class="m-2 text-center form-control rounded" type="text" id="fifth" maxlength="1" /> 
        <input class="m-2 text-center form-control rounded" type="text" id="sixth" maxlength="1" /> 
      </div> 
      <div>
        <span>If you didn't recieve a code</span> <a href="#" class="text-decoration-none ms-3">Resend(1/3)</a> 
      </div>
      <div class="mt-4"> 
        <button class="btn btn-danger px-4 validate">Validate</button> 
      </div> 
    </div>  -->
<!-- 
    <div class="container">

    </div> -->

    <!-- <div class="container text-center mb-5 mt-5">
      <div class="row">
        <div class="col-md-12">
          <h4><a href="https://codepen.io/piyushpd/pen/MWewXBG" target="_blank">OTP Input Section</a></h4>
        </div>
      </div>
    </div> -->
    
    
    <!-- <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group text-center">
                    <label class="margin-align">Enter the Code</label>
                    <div class="form-group-input otp-form-group mb-3">
                      <input type="text" minlength="1" maxlength="1" class="form-control otp-inputbar">
                      <input type="text" minlength="1" maxlength="1" class="form-control otp-inputbar">
                      <input type="text" minlength="1" maxlength="1" class="form-control otp-inputbar">
                      <input type="text" minlength="1" maxlength="1" class="form-control otp-inputbar">                     
                    </div>
                  </div>
        </div>
        
      </div>
    </div>
    
    <div id="errmsg" class="text-center"></div> -->


