// body{
//     margin-top:20px;
// }
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .username-field {
    width: 248px;
  }
.play-button {
  top: 40px;
  height: 140px !important;
  width: 400px !important;
  background-color: #1B3D6D !important;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.container {
  padding: 50px;
}
.rectangle-card {
left: 0%;
right: 0%;
top: 0%;
background-color: #FBFBFB !important;
border-radius: 16px;
}
