/* You can add global styles to this file, and also import other style files */
.mdc-text-field__input {
    height: 38px !important;
} 
.example-button-row {
    display: table-cell;
    max-width: 600px;
  }